* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1366px;
    margin: 0 auto;
}
.home-slider {
    position: relative;
    background-image: url(img/slider1.jpg);
    height: 800px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.header {
    padding-top: 63px;
}
.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}
.menu {
    float: right;
}
.menu-list {
    list-style-type: none;
    float: left;
}
.slider-text {
    margin-top: 283px;
}
.pagination {
    position: absolute;
    width: 1170px;
    bottom: 14px;
    text-align: center;
}
.pagination2 {
    position: absolute;
    width: 1370px;
    bottom: 14px;
    text-align: center;
}
.list-link:hover {
    color: #212121;
}
.list-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}
.list-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid black;
}
.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.trend {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.slider-text2 {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
}
.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    height: 45px;
    width: 212px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
}
.button:hover {
    box-shadow: 0 4px 8px 2px rgba(33, 33, 33, 0.35);
    transition:0.5s;
    transform: scale(1.01);
}
.circle {
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
}
.circle:hover {
    background-color: #212121;
}
.circle-active {
    width: 40px;
    height: 40px;
    background-color: black;
    margin-bottom: 0px;
}
.featured-products {
    /* height: 610px; */
    margin: 120px 100px;
    
}
.headF {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    border-bottom: 1px solid;
    padding-right: 30px;
}
.headF-active {
    color: #212121;
    border-bottom: 3px solid;
}
.exploreAll {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    float: right;
    text-decoration: none;
}
.featured-header {
    padding-bottom: 50px;
}
.Fitems {
    list-style: none;
    float: right;
}
.featured-items {
    display: flex;
    justify-content: space-between;
}
.promoImg {
    box-sizing: border-box;
    background-image: url(img/promo-img1.png);
    height: 683px;
    width: 683px;
    display: inline-block;
}
.promoImg2 {
    box-sizing: border-box;
    background-image: url(img/promo-img.png);
    height: 683px;
    width: 683px;
    float: right;
}
.promoText {
    padding-top: 5px;
    padding-left: 52px;
}
.prom1 {
    text-transform: uppercase;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 220px;
}
.prom2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}
.prom3 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    width: 458px;
    margin: 20px 0px;
}
.trend-products {
    height: 1110px;
    background-color: white;
    margin: 120px 100px;
}
.trend-header {
    display: inline-block;
}
.trend-h {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-top: 120px;
    display: inline-block;
    padding-left: 100px;
    padding-bottom: 65px;
}
.trend-h2 {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-top: 120px;  
    float: right;
    padding-right: 120px;
}
.T-items {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}
.T-item {
    list-style: none;
    float: right;
    padding-bottom: 30px;
}
.hot-deal {
    background-image: url(img/slider_hot.png);
    background-repeat: no-repeat;
    height: 800px;
    margin-top: 90px;
    position: relative;
}
.hot-text {
    padding-top: 283px;
    padding-left: 100px;

}
.hot {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.hot-text2 {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
}
.hot-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.exclusive_product {
	margin: 120px 98px;
}
.exclusive_box {
	float: left;
	display: inline-block;
	width: 570px;
	height: 570px;
	box-sizing: border-box;
	background-image: url(img/product-1-lg@1X.jpeg);
	margin: 15px;
}
.products_gallery {
	width: 1200px;
}
.ex_content {
	padding: 185px 30px;
	width: 332px;
	height: 200px;
}
.ex_tag {
	color: #1e88e5;
}
.tag {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.promo_h {
	font-size: 36px;
	font-weight: 700;
	color: #212121;
	margin: 20px 0px;
}
.promo_text {
	font-size: 14.1px;
	line-height: 24px;
	font-weight: 300;
	color: #6c6c6c;
	margin: 30px 0px;
}
.ex_item {
	display: inline-block;
	width: 270px;
	height: 270px;
	margin: 15px;
	position: relative;
}
.item_img {
	display: inline-block;
}
.item_content {
	width: 270px;
	height: 270px;
	display: inline-block;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
}
.item_h {
	font-weight: 700;
	font-size: 22px;
}
.item_discriptions {
	font-size: 14px;
	font-weight: 300;
	color: #6c6c6c;
}
.slider {
	position: relative;
	width: 1366px;
	height: 800px;
	z-index: 4;
	box-sizing: border-box;
}
.mApp {
	z-index: 2;
	margin-top: 120px;
	height: 516px;
	background-image: url(img/back-img@1X.jpeg);
}
.slider_content{
	height: 228px;
	width: 600px;
	padding-top: 373px;
}
.mApp_content {
    padding-top: 125px;
    margin-left: 98px;
}
.mApp_tag {
	color: #6c6c6c;
}
.mApp_text {
	font-size: 22px;
	font-weight: 300;
	color: #6c6c6c;
}
.m_store {	
	display: inline-block;
	width: 135px;
	height: 40px;
	margin: 33px 5px;
	border-radius: 5px;
}
.m_store:hover {
	opacity: 70%;
}
.slider_h {
	font-size: 58px;
	line-height: 70px;
	font-weight: 100;
	text-transform: uppercase;
	color: #212121;
	letter-spacing: 0px;
}
.appStore {
	background-image: url(img/app-store@1X.jpeg);
}
.gPlay {
    background-image: url(img/google-play@1X.jpeg);
}
.footer {
	height: 384px;
    background-color: #f7f7f7;
}
.footer_info {
	padding-top: 120px;
	margin-left: 55px;
}
.f_block {
	display: inline-block;
	vertical-align: top;
	margin: 0 39px;
}
.f_h {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #6c6c6c;
}
.f_p {
	margin: 24px 0;
	font-size: 14px;
	font-weight: 500;
	color: #212121;
}
.contact_info {
	width: 221px;
	height: 139px;
}
.links {
	width: 422px;
	height: 101px;
}
.links_list {
	margin: 24px 0;
	display: inline-block;
}
.ll_left {
	padding-right: 103px;
}
.links_list a {
	text-decoration: none;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: #212121;
}
.links_list a:hover {
	opacity: 70%;
}
.sub_form {
	width: 370px;
	height: 147px;
}
.sub_mail {
	border: none;
	outline: none;
	width: 299px;
	height: 45px;
	margin-top: 1px;
	vertical-align: top;
	padding-left: 19px;
}
.sub_input {
	width: 368px;
	height: 46px;
	background-color: #ffffff;
	border: 1px solid #d9dee1;
}
.sub_input img {
	padding: 13px;
}
.sub_input a:hover {
	opacity: 70%;
}
.socLink {
	display: inline-block;
}
.cut {
	padding-top: 60px;
	position: relative;
}
.copy {
	float: left;
}
.terms {
	float: right;
}
.social {
	position: absolute;
	width: 1170px;
    text-align: center;
    margin-left: 120px;
}
.terms {
	position: relative;
    z-index: 5;
    margin-right: 98px;
}
.terms a {
	text-decoration: none;
	font-size: 12px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: #6c6c6c;
}
.terms a:hover {
	opacity: 70%;
}
.cut_text {
	font-size: 12px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
    color: #6c6c6c;
    margin-left: 98px;
}
.socLink:not(:hover) {
	opacity: 50%;
}
.socLink:hover {
	opacity: 1.0;
}







