* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1366px;
    margin: 0 auto;
}
.home-slider {
    position: relative;
    background-image: url(img/slider1.jpg);
    height: 800px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.header {
    padding-top: 63px;
}
.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}
.menu {
    float: right;
}
.menu-list {
    list-style-type: none;
    float: left;
}
.slider-text {
    margin-top: 283px;
}
.pagination {
    position: absolute;
    width: 1170px;
    bottom: 14px;
    text-align: center;
}
.list-link:hover {
    color: #212121;
}
.list-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}
.list-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid black;
}
.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.trend {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.slider-text2 {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
}
.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    height: 45px;
    width: 212px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
}
.button:hover {
    box-shadow: 0 4px 8px 2px rgba(33, 33, 33, 0.35);
    transition:0.5s;
    transform: scale(1.01);
}
.circle {
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
}
.circle:hover {
    background-color: #212121;
}
.circle-active {
    width: 40px;
    height: 40px;
    background-color: black;
    margin-bottom: 0px;
}
.featured-products {
    /* height: 610px; */
    margin: 120px 100px;
    
}
.headF {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    border-bottom: 1px solid;
    padding-right: 30px;
}
.headF-active {
    color: #212121;
    border-bottom: 3px solid;
}
.exploreAll {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    float: right;
    text-decoration: none;
}
.featured-header {
    padding-bottom: 50px;
}
.Fitems {
    list-style: none;
    float: right;
}
.featured-items {
    display: flex;
    justify-content: space-between;
}
.promoImg {
    box-sizing: border-box;
    background-image: url(img/promo-img1.png);
    height: 683px;
    width: 683px;
    display: inline-block;
}
.promoImg2 {
    box-sizing: border-box;
    background-image: url(img/promo-img.png);
    height: 683px;
    width: 683px;
    float: right;
}
.promoText {
    padding-top: 5px;
    padding-left: 52px;
}
.prom1 {
    text-transform: uppercase;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 220px;
}
.prom2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}
.prom3 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    width: 458px;
    margin: 20px 0px;
}
.trend-products {
    height: 1110px;
    background-color: white;
    margin: 120px 100px;
}
.trend-header {
    display: inline-block;
}
.trend-h {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-top: 120px;
    display: inline-block;
    padding-left: 100px;
    padding-bottom: 65px;
}
.trend-h2 {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-top: 120px;  
    float: right;
    padding-right: 120px;
}
.T-items {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}
.T-item {
    list-style: none;
    float: right;
    padding-bottom: 30px;
}
.hot-deal {
    background-image: url(img/slider_hot.png);
    background-repeat: no-repeat;
    height: 800px;
    margin-top: 90px;
    padding-top: 283px;
    padding-left: 100px;
    position: relative;
}
.hot {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.hot-text2 {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
}
.hot-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
}




